@import "../../../../assets/styles/mixins.scss";
@import '../../../../assets/styles/variables.scss';

// https://css-tricks.com/css-keyframe-animation-delay-iterations/

@keyframes animatePlane {
    0% {
        left: -100px;
    }
    20% {
        left: 100%;
    }
    100% {
        left: 100%;
    }

}

.plane__wrapper {
    position: absolute;
    display: none;
    left: -100px;
    top: 200px;
    z-index: 7;

    @include breakpoint('min-lg') {
        animation-iteration-count: infinite;
        animation-name: animatePlane;
        animation-timing-function: linear;
        animation-delay: 30s;
        animation-duration: 50s;
        display: block;
    }

    .plane__icon {
        font-size: 40px;
        color: white;
    }
}