@import "../../../assets/styles/mixins.scss";
#portfolio {
  padding: 100px 0;

  h2 {
    padding-bottom: 50px;
  }

  #portfolio__projects {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    .portfolio__project {
      flex-basis: 32%;
      margin: 0 0 40px 0;

      @include breakpoint('md') {
        flex-basis: 50%;
      }
      
      &.portfolio__project:nth-child(3n + 2) {
        @include breakpoint('min-md') {
          margin: 0 2%;
        }
      }

      &.portfolio__project:nth-last-child(1), &.portfolio__project:nth-last-child(2), &.portfolio__project:nth-last-child(3) {
        margin-bottom: 0; 
      }
    }

  }

  #load-icon {
      width: 25px;
      margin: auto;
  
      img {
          width: 100%;
      }
  }
  
  .github-error-link {
    text-align: center;
    font-size: 18px;
    padding: 50px 0;
    
    a {
      font-weight: bold;
    }
  }
}