@import "../../../assets/styles/mixins.scss";
@import '../../../assets/styles/variables.scss';

#about {
    background: white;
    color: $dark-gray;
    padding: 100px 0 140px;
    
    .about__description {

        .about__paragraph-wrapper {
            padding-top: 50px;
            
            @include breakpoint('min-lg') {
                display: flex;
                justify-content: flex-end;
            }

            .about__paragraph {
                font-size: 20px;
                line-height: 30px;  
                text-align: center;
                
                @include breakpoint('min-lg') {
                    flex-basis: 50%;
                    text-align: left;
                }   

                strong {
                    font-weight: bold;
                }
                
            }
        }
    }
}