@import "../../../assets/styles/mixins.scss";
#about {
    border-bottom: 1px solid black;
    padding: 100px 0;
    
    .about__description {
        h2 {
            padding-bottom: 50px;
        }

        .about__paragraph-wrapper {
            @include breakpoint('min-lg') {
                display: flex;
                justify-content: flex-end;
            }

            .about__paragraph {
                font-size: 20px;
                line-height: 30px;  
                text-align: center;
                
                @include breakpoint('min-lg') {
                    flex-basis: 50%;
                    text-align: left;
                }   

                strong {
                    font-weight: bold;
                }
                
            }
        }
    }
}