<section id="about">
    <div class="container">
        <article class="about__description">
            <h2>Who I am and what I do.</h2>
            <article class="about__paragraph-wrapper about--align-right">
                <p class="about__paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis velit ea doloremque cupiditate totam iusto, officia vitae repudiandae iure illo eum quisquam quae accusantium amet, nesciunt, optio autem fugiat sit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et perspiciatis ducimus unde veritatis a optio id eveniet sint odit eligendi corrupti mollitia placeat exercitationem repellendus consequuntur, qui dolor voluptatibus possimus.
                </p>
            </article>
        </article>
    </div>
</section>
