#about {
    border-top: 1px solid black;
    padding: 100px 0;
    text-align: left;
    
    .about__description {
        h2 {
            padding-bottom: 50px;
        }
        .about__paragraph-wrapper {
            
            .about__paragraph {
                width: 50%;
                font-size: 20px;
                line-height: 30px;  
                display: inline-block;
                text-align: left;
            }
            
            &.about--align-right {
                text-align: right;
            }

            strong {
                font-weight: bold;
            }
        }
    }
}