<section id="about">
    <div class="container">
        <article class="about__description">
            <figure class="about__image-wrapper">
                <img class="about__image" src="../../../assets/images/self-image.png" alt="image of trent">
            </figure>
            <h2 class="about__header">Who am I?</h2>
            <p class="about__paragraph">
                I am a software engineer who loves working in the front end with technologies including ReactJS and Angular 2+. I am currently working for Spins Ventures in Los Angeles building product store locator solutions. 
            </p>
        </article>
    </div>
</section>
