<section id="about">
    <div class="container">
        <article class="about__description">
            <h2>Who am I?</h2>
            <article class="about__paragraph-wrapper">
                <p class="about__paragraph">
                    My name is Trent, I am a software engineer with 5 years experience in the industry. I know a vast array of technologies such as <strong>Angular</strong>, <strong>Reactjs</strong>, <strong>TypeScript</strong>, and <strong>PHP</strong>. I am currently part of a medium sized company building the front end for apps and training and mentoring new hires.  
                </p>
            </article>
        </article>
    </div>
</section>
