@import "../../../assets/styles/mixins.scss";

#hero {
  // background: url('assets/images/<IMAGE>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid black;
  height: 600px;
  display: flex;

  @include breakpoint('lg') {
    height: auto;
    padding: 50px 0;
    text-align: center;
  }

  .hero__text {
    flex-basis: 100%;
    align-self: center;

    .hero__header {
      font-size: 40px;
      padding-bottom: 10px;

      @include breakpoint('min-sm') {
        font-size: 50px;
      }

      @include breakpoint('min-md') {
        font-size: 60px;
      }

    }
    .hero__sub-header {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 25px;
    }

  }

}
