<section id="hero">
  <div class="hero__text">
    <div class="container">
      <h1 class="hero__header">Trent Teebken</h1>
      <h3 class="hero__sub-header">Software Engineer</h3>
      <div class="hero__icons">
        <a href="https://www.linkedin.com/in/trent-teebken/" target="_blank" class="icon__link">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/tbone1020" target="_blank" class="icon__link">
          <i class="fab fa-github"></i>
        </a>
        <a href="../assets/TTeebken_resume_SEP_19.pdf" target="_blank" class="icon__link">
          <i class="fal fa-file-user"></i>
        </a>
      </div>
    </div>
  </div>
</section>
