@import "../../../assets/styles/mixins.scss";
@import '../../../assets/styles/variables.scss';

#hero {
  // background: url('../../../assets/images/train-station.jpg');
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // background: rgba($primary, 0.7);
  background: $primary;
  position: relative;
  overflow: hidden;
  background-size: cover;
  height: 700px;
  display: flex;

  .hero__brackets {
    right: 100px;
    font-size: 130px;
    bottom: 50px;
  }

  .hero__curly-braces {
    bottom: -64px;
    font-size: 140px;
    right: 235px;
  }

  &:after {
    content: "";
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
    bottom: 40px;
    font-size: 50px;
    right: 15px;
  }

  @include breakpoint('lg') {
    height: auto;
    padding: 50px 0;
    text-align: center;
  }

  .hero__text {
    color: white;
    flex-basis: 100%;
    align-self: center;
    position: relative;
    z-index: 8;

    .hero__header {
      font-size: 40px;
      padding-bottom: 10px;
      @include transition(1500);

      &.hero__header--show {
        opacity: 1;
        @include transition(1500);
      }  

      @include breakpoint('min-sm') {
        font-size: 50px;
      }

      @include breakpoint('min-md') {
        font-size: 60px;
      }

    }
    .hero__sub-header {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 25px;

      &.hero__sub-header--show {
        opacity: 1;
        @include transition(1500);
      }    
    }

  }

  .hero__clouds {
    position: absolute;
    left: -300px;
    animation: animate 100s linear infinite;
    width: 150px;
    z-index: 5;

    .hero__cloud--cloud-1 {
      bottom: 10px;
      left: -150px;
    }

    .hero__cloud--cloud-2 {
      top: 150px;
      left: 300px;

      .hero__cloud-image {
        opacity: 0.2;
      }
    }

    .hero__cloud--cloud-3 {
      top: 100px;
      left: 50px;
    }

    .hero__cloud--cloud-4 {
      top: 0;
      left: 200px;
    }

    .hero__cloud-image {
      width: 100%;
    }
  }

  @keyframes animate {
    0% {
      left: inherit;
    }
    100% {
      left: 100%;
    }
  }

}
