#certificates {
    border-top: 1px solid black;
    padding: 100px 0;
    
    h2 {
        padding-bottom: 50px;
    }

    .certificates-wrap {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;

        .certificate {
            flex-basis: 49%;
            margin: 0 2% 40px 0;

            .certificate__link {
                display: block;
                color: black;
                text-decoration: none;

                .certificate__image {
                    width: 200px;
                }
                .certificate__info {
                    width: -webkit-calc(100% - 215px);
                    width: calc(100% - 215px);
                    padding: 10px 0 0 15px;

                    .certificate__name {
                        font-size: 20px;
                        font-family: 'Roboto Slab', serif;
                        padding-bottom: 10px;
                    }

                    .certificate__description {
                        line-height: 20px;
                        font-size: 16px;
                    }
                }
                .certificate__info, .certificate__image {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            &:nth-child(2n + 2) {
                margin-right: 0;
            }
        }
    }
}