
<section id="certricates">
  <div class="container">
    <section class="certificates-wrap">
      <figure class="certificate">
        <a class="certificate__link" href="#">
          <img src="https://via.placeholder.com/250" alt="image of certificate" class="certificate__image">
          <figcaption class="certificate__name">Certificate in responsive web design from FreeCodeCamp.org</figcaption>
        </a>
      </figure>
      <figure class="certificate">
        <a class="certificate__link" href="#">
          <img src="https://via.placeholder.com/250" alt="image of certificate" class="certificate__image">
          <figcaption class="certificate__name">Certificate in responsive web design from FreeCodeCamp.org</figcaption>
        </a>
      </figure>
      <figure class="certificate">
        <a class="certificate__link" href="#">
          <img src="https://via.placeholder.com/250" alt="image of certificate" class="certificate__image">
          <figcaption class="certificate__name">Certificate in responsive web design from FreeCodeCamp.org</figcaption>
        </a>
      </figure>
      <figure class="certificate">
        <a class="certificate__link" href="#">
          <img src="https://via.placeholder.com/250" alt="image of certificate" class="certificate__image">
          <figcaption class="certificate__name">Certificate in responsive web design from FreeCodeCamp.org</figcaption>
        </a>
      </figure>
      <figure class="certificate">
        <a class="certificate__link" href="#">
          <img src="https://via.placeholder.com/250" alt="image of certificate" class="certificate__image">
          <figcaption class="certificate__name">Certificate in responsive web design from FreeCodeCamp.org</figcaption>
        </a>
      </figure>
      <figure class="certificate">
        <a class="certificate__link" href="#">
          <img src="https://via.placeholder.com/250" alt="image of certificate" class="certificate__image">
          <figcaption class="certificate__name">Certificate in responsive web design from FreeCodeCamp.org</figcaption>
        </a>
      </figure>
    </section>
  </div>
</section>