<section class="hero__clouds">
    <figure class="hero__cloud hero__cloud--cloud-1">
        <img class="hero__cloud-image" src="../../../../assets/images/cloud_1-shadow.png" alt="cloud shape #1">
    </figure>
    <figure class="hero__cloud hero__cloud--cloud-2">
        <img class="hero__cloud-image" src="../../../../assets/images/cloud_2-shadow.png" alt="cloud shape #2">
    </figure>
    <figure class="hero__cloud hero__cloud--cloud-3">
        <img class="hero__cloud-image" src="../../../../assets/images/cloud_3-shadow.png" alt="cloud shape #3">
    </figure>
    <figure class="hero__cloud hero__cloud--cloud-4">
        <img class="hero__cloud-image" src="../../../../assets/images/cloud_1-shadow.png" alt="cloud shape #1">
    </figure>  
</section>
