@import "../../../../assets/styles/mixins.scss";
@import '../../../../assets/styles/variables.scss';

@keyframes animate {
  0% {
    left: -200px;
  }
  100% {
    left: 100%;
  }
}

.hero__clouds {
    position: absolute;
    width: 100%;
    height: 100%;

    .hero__cloud {
        position: absolute;
        display: none;
        left: -200px;
        width: 200px;
        z-index: 7;

        @include breakpoint('min-lg') {
          animation-iteration-count: infinite;
          animation-name: animate;
          animation-timing-function: ease-out;
          display: block;
        }

        &.hero__cloud--cloud-1 {
          bottom: 25px;
          animation-delay: 20s;
          animation-duration: 42s;
          width: 120px;
    
          .hero__cloud-image {
            opacity: 0.6;
          }
        }
    
        &.hero__cloud--cloud-2 {
          bottom: 150px;
          animation-duration: 28s;
        }
    
        &.hero__cloud--cloud-3 {
          top: 245px;
          animation-delay: 35s;
          animation-duration: 58s;
          width: 120px;
    
          .hero__cloud-image {
            opacity: 0.2;
          }
        }
    
        &.hero__cloud--cloud-4 {
          top: 90px;
          animation-delay: 14s;
          animation-duration: 29s;
        }
    
        .hero__cloud-image {
          width: 100%;
        }

    }
}
