<section class="hero__clouds">
    <div class="hero__cloud hero__cloud--cloud-1">
        <img class="hero__cloud-image" src="../../../../assets/images/cloud_1.png" alt="cloud shape 1">
    </div>
    <div class="hero__cloud hero__cloud--cloud-2">
        <img class="hero__cloud-image" src="../../../../assets/images/cloud_2.png" alt="cloud shape 2">
    </div>
    <div class="hero__cloud hero__cloud--cloud-3">
        <img class="hero__cloud-image" src="../../../../assets/images/cloud_3.png" alt="cloud shape 3">
    </div>
    <div class="hero__cloud hero__cloud--cloud-4">
        <img class="hero__cloud-image" src="../../../../assets/images/cloud_1.png" alt="cloud shape 1">
    </div>  
</section>
