#hero-background-shape {
    background-image: url('../../assets/images/triangle-bg-right.svg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 150px;
    left: 0;
    height: 1000px;
    width: 100%;
}