@import '../../assets/styles/mixins.scss';

#left-background-shape {
    background-image: url('../../assets/images/triangle-bg-right.svg');
    top: 200px;
    height: 1000px;
}

#right-background-shape {
    background-image: url('../../assets/images/triangle-bg-left.svg');
    top: 1800px;
    height: 1000px;
}
#right-background-shape, #left-background-shape {
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: -1;
}