@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/variables.scss';
footer {
    padding: 40px 0 30px;

    .container {
        
        @include breakpoint('min-md') {
            display: flex;
        }

        .footer__copy {
            color: $dark-gray;
            font-size: 16px;
            line-height: 34px;
            text-align: center;
            padding: 0 0 15px;
            
            @include breakpoint('min-md') {
                flex-basis: 70%;
                text-align: left;
                padding: 0;
            }
        }
        .footer__links {
            text-align: center;

            @include breakpoint('min-md') {
                text-align: right;
                flex-basis: 30%;
            }
    
            .footer__link {
                -webkit-border-radius: 50%;
                border-radius: 50%;
                border: 1px solid black;
                display: inline-block;
                vertical-align: middle;
                margin-left: 30px;
                padding: 10px;
    
                .footer__icon {
                    font-size: 23px;
                    color: black;
                }
            }
        }
    
    }
}