<footer>
    <div class="container">
        <div class="footer__copy">Trent Teebken &copy;&nbsp;{{currentYear}}</div>
        <div class="footer__links">
            <a href="https://www.linkedin.com/in/trent-teebken/" target="_blank" class="footer__link">
                <i class="footer__icon fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/tbone1020" target="_blank" class="footer__link">
                <i class="footer__icon fab fa-github"></i>
            </a>
            <a href="../assets/TTeebken_resume_SEP_19.pdf" target="_blank" class="footer__link">
                <i class="footer__icon fal fa-file-user"></i>
            </a>
        </div>
    </div>
</footer>
