footer {
    border-top: 1px solid black;
    text-align: left;
    padding: 40px 0;

    .footer__header {
        font-size: 17px;
        font-weight: bold;
        line-height: 25px;
        padding-bottom: 15px;
    }
}