<div class="social-icons {{color}}">
    <a href="https://www.linkedin.com/in/trent-teebken/" target="_blank" title="LinkedIn" rel="noopener" class="social-icons__link">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/tbone1020" target="_blank" title="GitHub" rel="noopener" class="social-icons__link">
      <i class="fab fa-github"></i>
    </a>
    <a href="../assets/TTeebken_resume_SEP_19.pdf" target="_blank" title="Resume" rel="noopener" class="social-icons__link">
      <span class="social-icons__portfolio">
        <i class="social-icons__icon fal fa-user"></i>
        <i class="social-icons__icon fal fa-align-left"></i>
        <i class="social-icons__icon fas fa-file"></i>
      </span>
    </a>
  </div>