.social-icons {
    
    .social-icons__link {
      color: black;
      font-size: 35px;

      &:nth-child(2) {
        padding: 0 20px;
      }

      .social-icons__portfolio {
        position: relative;

        .fa-user, .fa-align-left {
          position: absolute;
        }
        .fa-user {
          font-size: 10px;
          font-weight: bold;
          color: white;
          left: 4px;
          top: 7px;
        }
        .fa-align-left {
          font-size: 15px;
          color: white;
          font-weight: 500;
          left: 5px;
          bottom: 6px;
        }
      }
    }
  }