@import "../../../../assets/styles/mixins.scss";
@import '../../../../assets/styles/variables.scss';

nav {
  background: $light-gray;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;

  .container {
    align-items: center;
    display: -webkit-flex;
    display: flex;
    height: 50px;
    margin: 0 auto;

    .nav__logo {
      font-size: 30px;
      flex-basis: 50%;
      text-align: left;
    }
  
    .nav__list {
      flex-basis: 50%;
      text-align: right;

      .nav__item {
        cursor: pointer;
        padding: 0 0 25px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 13px;
        padding: 0;
        text-align: right;
        
        .fal {
          font-size: 25px;
          color: black;
        }
      }
    }
  }
}
