@import './assets/styles/mixins.scss';

body {
  font-family: 'Raleway', sans-serif;
}
main {
  display: block;

  @include breakpoint('min-lg') {
    margin-left: 70px;
  }
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
  
  @include breakpoint('min-lg') {
    font-size: 40px;
    text-align: left;
  }

  @include breakpoint('min-md') {
    font-size: 35px;
  }
}
